# Hints & Snippets

## Problem Solving

Here are a few problem solving strategies I invite you to consider:
* What vs how:
  * **What** do you want? 
  * **How** do you get there?
  * When you know **what** you want, we (or the internet) can help you with the **how**
* Paper coding: **What** do you want? Before you get bogged down in technical details (the **how** part of your implementation), forget all details and make a sketch.
* Simplify: How can you simplify the problem, solve the simplified version and then iterate?
* Divide and conquer: How can you break the problem down into (isolated) parts, work on them in isolation and then put them together later?

## Modelling

### Models

Questions:
* What kind of problem do we have?
* Do we have categorical variables?
  * If yes, do we need specific preprocessing for our model?

Model candidates:
* Logistic Regression
* Random Forest
* Histogram-based Gradient Boosting Classification Tree

Comments:
* The first two models are described in ISL.
* You are invited to take a look but you can equally well treat them as a black box.
* All models are available in scikit-learn.
* The logistic regression is most similar to what we did already in class. It requires some preprocessing (which?).
* Two ensemble methods (which?) require less preprocessing than the logistic regression (why?).
* In a sense (which?) the random forest might be easiest to work with for a start.

### Cross Validation

Questions:
* What kind of problem do we have?

Comments:
* Recall that our target variable is very unbalanced.
* We can account for that by creating stratified splits.
* See https://scikit-learn.org/stable/modules/cross_validation.html#cross-validation-iterators-with-stratification-based-on-class-labels

## Snippets

In [1]:
import pandas as pd

%matplotlib

Using matplotlib backend: module://matplotlib_inline.backend_inline

In [2]:
# You cannot directly run that code in Google Colab because you need to provide the data file from your Google Drive
investment_data_original = pd.read_csv('./investmentdata_grid.csv', index_col=0)
investment_data_original.sample(n=5)

,targetC,previous_year,year,comp_id,id,homeC,sales,assets,profit,investdum,Time.Code,Country.Name,GDPgrowth_p.a.prc,GDP.USD,polconiii,distance
326336,SGP,2009,2010,US274384691,1228897,USA,7.355060e+05,1.115800e+05,3504.000000,False,YR2009,Singapore,0.120983,1.941523e+11,0.031556,15163.044010
241394,KOR,2009,2010,DE5190661252,711145,DEU,1.108559e+06,4.343603e+02,15538.315860,False,YR2009,"Korea, Rep.",0.792699,9.439419e+11,0.435867,8553.181257
129389,GBR,2011,2012,GBOC303117,278132,GBR,2.227746e+05,1.566833e+05,178389.893900,False,YR2011,United Kingdom,1.275708,2.659882e+12,0.409177,0.000000
259640,MEX,2011,2012,CA189872457L,1345904,CAN,6.881644e+05,6.000205e+06,99091.352340,False,YR2011,Mexico,3.663008,1.180490e+12,0.400424,4155.410253
227327,JPN,2010,2011,IN0002585651,262769,IND,9.766334e+03,1.808511e+06,4001.012454,False,YR2010,Japan,4.191739,5.700098e+12,0.337692,6154.025180

In [3]:
investment_data_original.columns

Index(['targetC', 'previous_year', 'year', 'comp_id', 'id', 'homeC', 'sales',
       'assets', 'profit', 'investdum', 'Time.Code', 'Country.Name',
       'GDPgrowth_p.a.prc', 'GDP.USD', 'polconiii', 'distance'],
      dtype='object')

In [ ]:
macro_data = pd.read_excel('./macrodata.xlsx')
macro_data

### Renaming Columns

To make our lifes easier, we can use expressive variable names that suppport our understanding.

In [ ]:
original_to_expressive_names = {'targetC': 'target_country', 'investdum': 'investment'}  # TODO: extend that
original_to_expressive_names

In [ ]:
investment_data = investment_data_original.rename(columns=original_to_expressive_names)
investment_data.head()

### Handling Text (Strings)

If you variables are text, we cannot directly feed those variable into a model and need to first transform said text data into numerical data.

We have different options to do that:
* Explicitely/manually specify a mapping: `text value -> numerical value`
  * This can become cumbersome to type if we need a large mapping
* Automatically factorized or categorize a variable

Below snippets demonstrates both.

Comments:
* During data exploration, i.e. in plots, tables, etc. we can leave the data as it is.
* Depending on the kind of model we use, we may need to treat categorical data differently (see below).

In [ ]:
investment_data.target_country.unique()

In [ ]:
# manually
country_code_to_numerical = {'AUS': 1, 'AUT': 2}  # TODO: extend that
investment_data['target_country'] = investment_data['target_country'].replace(country_code_to_numerical)
investment_data['target_country'].head()

In [ ]:
# Note that as long as the dtype is object, there are still text value left (why?)

In [ ]:
investment_data['target_country'].unique()

In [ ]:
investment_data['target_country'].value_counts()

In [ ]:
# automatically

In [ ]:
categorical_values, text_values = pd.factorize(investment_data['target_country'])
categorical_values

In [ ]:
text_values

In [ ]:
investment_data['target_country'] = categorical_values

In [ ]:
# if we want to keep a mapping, we can create it
target_country_to_code = dict(zip(text_values, set(categorical_values)))
target_country_to_code

### Handling Categorical Features

*TBD later.*

See also:
* https://scikit-learn.org/stable/modules/preprocessing.html#preprocessing-categorical-features

### Merging Data

If you want to combine data sets, you can merge them.

For sake of simplicity, let's assume we have to tables, i.e. DataFrames, where we wish to join columns on columns.

See also:
* https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html#merge

In [ ]:
left = pd.DataFrame({
    'column_to_merge_on_eg_country': ['AUS', 'AUT', 'BRA'], 
    'value_in_left': [1, 2, 3]
})
left

In [ ]:
right = pd.DataFrame({
    'column_to_merge_on_eg_country': ['AUS', 'AUT', 'BRA'], 
    'value_in_right': [10, 20, 30]
})

In [ ]:
merged = left.merge(right)
merged

Comments:
* If you are not sure how to implement your merge of how the result looks like
  * take a step back and write it down on a sheet of paper,
  * consider a small subset of the data and experiment with that.
* `merge` allows for a range of options to adjust the behavior of the join.
* If you are not sure what happened in the above, experiment with the code by changing the values, e.g.
  * What if there are more columns?
  * What if there is not a one-to-one correspondence between the column values that you merge on?
  * ...